form > .form-wrapper {
  &.register {
    background-color: $primary;
    color: $white;
  }
  &.add-contact {
    background-color: $secondary;
  }
  color: $black;
  padding: 20px;
  border: 3px dashed $black;
  width: 600px;
  margin: auto;
  h2 {
    text-align: center;
    margin: 10px;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
    input {
      &.form-control {
        padding: 10px;
        background-color: $white-dark;
      }
      &::placeholder {
        color: $black;
        font-style: italic;
      }
    }
  }
}
