$primary: #0e83cd;
$secondary: #27ae60;
$border: #2a2a2a;
$hover: #27ae60;
$black: #000;

$white: #fff;

$logo: $secondary;

$button_bg: #1a1e24;
$button_color: #eee;
$white-dark: #d4d4d4;

//bg colors
$bg-page: #fafafa;
$bg-header: $black;
$bg-profile: $black;
$bg-bio: $secondary;
$bg-table: $white;

// Font Variables
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-exo: "Exo", sans-serif;

//Border
$table-border: #000;
